@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "latoReg";
  src: url(../../public/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "rakkasReg";
  src: url(../../public/Rakkas/Rakkas-Regular.ttf);
}
@font-face {
  font-family: "ovo";
  src: url(../../public/Ovo/Ovo-Regular.ttf);
}
